@use 'vars';
@use 'hero';
@use 'event';
@use 'components/buttons';
@use 'components/infos-bar';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: Roboto, sans-serif;
    color: vars.$textColor;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: vars.$bpMobile) {
        max-width: 80%;
    }

    @media (max-width: vars.$bpLaptop) {
        max-width: 90%;
    }
}